<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Authorization</title>
</head>
<body>
<div th:each="provider : ${providers}">
  <h2 th:text="${provider.socialType}"></h2>
  <form method="get" th:action="${provider.authUrl}">
    <input name="response_type" th:value="${provider.responseType}" type="hidden"/>
    <input name="client_id" th:value="${provider.clientId}" type="hidden"/>
    <input name="redirect_uri" th:value="${provider.redirectUri}" type="hidden"/>
    <input name="scope" th:if="${provider.scope}" th:value="${provider.scope}" type="hidden"/>
    <button th:text="|Authorize with ${provider.socialType}|" type="submit"></button>
  </form>
  <br>
</div>
</body>
</html>
